@charset "UTF-8";
.underNone {
  text-decoration: none; }
  .underNone:hover {
    text-decoration: underline; }

/*Image Hover*/
a:hover img.hover,
span:hover img.hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
  -ms-filter: "alpha( opacity=80 )"; }

img.b,
.b {
  display: block; }

img.auto {
  margin: 0 auto;
  display: block; }

img.full {
  width: 100%;
  height: auto; }

.fR {
  float: right;
  _display: inline; }

.fL {
  float: left;
  _display: inline; }

.iL {
  float: left;
  display: inline;
  margin: 0 10px 5px 0; }

.iR {
  float: right;
  display: inline;
  margin: 0 0 5px 10px; }

.clear {
  clear: both;
  font: 1px/1px monospace; }

.aR {
  text-align: right !important; }

.aC {
  text-align: center !important; }

.aL {
  text-align: left !important; }

.vT {
  vertical-align: top !important; }

.vM {
  vertical-align: middle !important; }

.vB {
  vertical-align: bottom !important; }

.hidden {
  display: none; }

.clearfix {
  *zoom: 1; }
  .clearfix:before, .clearfix:after {
    display: table;
    content: "";
    line-height: 0; }
  .clearfix:after {
    clear: both; }

/* Reset
------------------------------------------------------------------*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
figure, figcaption,
article, section, nav, header, footer {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-style: normal; }

body {
  margin: 0;
  padding: 0;
  width: 100%; }

html {
  overflow-y: scroll;
  font-size: 62.5%; }

/* Basic elements
------------------------------------------------------------------*/
img {
  border: none;
  -ms-interpolation-mode: bicubic;
  /* IE7 Resize with html */ }

strong {
  font-weight: bold;
  color: #328bda; }

em {
  font-weight: bold; }

b {
  font-weight: bold; }

p {
  margin: 0 0 1em 0; }
  p:last-child {
    margin-bottom: 0; }

ul, ol {
  list-style: none;
  list-style-position: inside; }

ul li, ol li {
  margin-bottom: 1em !important; }
  ul li:last-child, ol li:last-child {
    margin-bottom: 0; }

dl {
  margin: 0; }
  dl dt {
    margin: 0;
    font-weight: bold; }
    dl dt a {
      font-weight: bold; }
  dl dd {
    margin-bottom: 1em; }

hr {
  border-color: #ccc;
  border-style: dotted;
  border-width: 1px 0 0 0;
  height: 1px;
  margin: 15px 0; }
  hr.solid {
    border-style: solid;
    border-color: #ccc; }
  hr.dotted {
    border-style: dotted;
    border-color: #ccc; }
  hr.trans {
    border-color: transparent;
    margin: 35px 0; }

.vT {
  vertical-align: top; }

.vM {
  vertical-align: middle; }

.vB {
  vertical-align: bottom; }

.oH {
  overflow: hidden !important; }

.oV {
  overflow: visible !important; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  font-size: inherit; }

body {
  font-family: "ヒラギノ角ゴPro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", Arial, Helvetica, Verdana, sans-serif; }

select, input, button, textarea {
  font-family: arial,helvetica,clean,sans-serif;
  font-size: 14px;
  font-size: 1.4rem; }

pre, code, kbd, samp, tt {
  font-family: monospace;
  line-height: 100%;
  font-size: 14px;
  font-size: 1.4rem; }

blockquote, pre, dl, ol, ul, th, td {
  line-height: 1.5;
  font-size: 14px;
  font-size: 1.4rem; }

p {
  line-height: 1.7;
  font-size: 14px;
  font-size: 1.4rem; }

ul, ol, dl {
  list-style-position: outside;
  font-size: 14px;
  font-size: 1.4rem; }

.supp {
  font-size: 10px;
  font-size: 1.0rem; }

blockquote p, pre p, dl p, ol p, ul p, th p, td p, dd p, dt p {
  font-size: 14px;
  font-size: 1.4rem; }

/* Base Link
------------------------------------------------------------------*/
a {
  color: #328bda;
  text-decoration: underline; }
  a:hover {
    color: #328bda;
    text-decoration: none; }
  a:active, a:focus {
    outline: none; }
  a.uNone {
    text-decoration: none !important; }
  a.uLine {
    text-decoration: underline !important; }

/* Font
------------------------------------------------------------------*/
/* type */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold; }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font-weight: bold; }
  h1.type-A, h2.type-A, h3.type-A, h4.type-A, h5.type-A, h6.type-A {
    background: url("../images/common/types-a_bg.png") no-repeat left top;
    font-size: 18px;
    font-size: 1.8rem;
    width: 670px;
    height: 54px;
    line-height: 1;
    padding: 20px 10px 5px 20px;
    margin-bottom: 15px; }
  h1.type-B, h2.type-B, h3.type-B, h4.type-B, h5.type-B, h6.type-B {
    background: url("../images/common/bg_line01.png") repeat-x left bottom;
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 1em; }
    h1.type-B span, h2.type-B span, h3.type-B span, h4.type-B span, h5.type-B span, h6.type-B span {
      background: url("../images/icon/circle01.png") no-repeat left 8px;
      padding: 5px 0 5px 20px;
      display: block;
      font-weight: bold; }
  h1.type-C, h2.type-C, h3.type-C, h4.type-C, h5.type-C, h6.type-C {
    background: url("../images/common/types-c_bg.png") no-repeat left top;
    width: 290px;
    height: 48px;
    font-size: 14px;
    font-size: 1.4rem;
    padding: 20px 5px 5px 28px;
    line-height: 1; }
  h1.title, h2.title, h3.title, h4.title, h5.title, h6.title {
    font-size: 22px;
    font-size: 2.2rem; }
    h1.title span, h2.title span, h3.title span, h4.title span, h5.title span, h6.title span {
      background-position: left 14px; }

/* UL, OL, DL
------------------------------------------------------------------*/
ul.notes li {
  text-indent: -1em;
  margin-left: 1em; }

ul.disc li,
ol.disc li {
  list-style-type: disc; }

ul.circle li,
ol.circle li {
  list-style-type: circle; }

ul.decimal li,
ol.decimal li {
  list-style-type: decimal; }

dl.type-A:last-child {
  margin-bottom: 0; }

table tr.aC th,
table tr.aC td {
  text-align: center; }
table th,
table td {
  vertical-align: top;
  text-align: left; }

table.type-A {
  width: 100%;
  margin: 0 0 0px 0;
  border: 1px solid #ccc; }
  table.type-A th,
  table.type-A td {
    vertical-align: top;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-right: 1px dotted #ccc;
    border-left: 1px dotted #ccc;
    line-height: 1.7;
    padding: 15px 10px; }
  table.type-A thead th {
    font-weight: bold;
    background-color: #79aae7;
    color: #fff; }
  table.type-A tbody th {
    white-space: nowrap;
    font-weight: bold; }

.inner {
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
  *zoom: 1; }
  .inner:before, .inner:after {
    display: table;
    content: "";
    line-height: 0; }
  .inner:after {
    clear: both; }

.globalHeader {
  height: 68px;
  overflow: hidden; }
  .globalHeader h1 {
    float: left;
    width: 310px;
    margin-top: 15px; }
    .globalHeader h1 a:hover img {
      opacity: 0.8;
      filter: alpha(opacity=0.8);
      -ms-filter: "alpha( opacity=$alpha )"; }
  .globalHeader p.description {
    float: left;
    width: 300px;
    font-size: 12px;
    font-size: 1.2rem;
    color: #666;
    margin-top: 25px;
    margin-bottom: 0; }
  .globalHeader .searchform {
    float: right;
    width: 240px;
    *zoom: 1;
    margin-top: 20px; }
    .globalHeader .searchform:before, .globalHeader .searchform:after {
      display: table;
      content: "";
      line-height: 0; }
    .globalHeader .searchform:after {
      clear: both; }
    .globalHeader .searchform input {
      vertical-align: middle;
      display: block;
      float: left; }
    .globalHeader .searchform input#s {
      border: 1px solid #9e9e9e;
      background-color: #f6f5f5;
      width: 210px;
      height: 30px; }
    .globalHeader .searchform #searchSubmit {
      background: url("../images/icon/glass01.png") no-repeat center center;
      background-color: #9e9e9e;
      width: 30px;
      height: 30px;
      border: none; }
      .globalHeader .searchform #searchSubmit:hover {
        cursor: pointer; }

.globalNavi {
  background: url("../images/common/gnavi_bg.png") repeat-x left top;
  margin-bottom: 10px;
  border-top: 1px solid #fff; }
  .globalNavi ul {
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
    *zoom: 1;
    height: 67px; }
    .globalNavi ul:before, .globalNavi ul:after {
      display: table;
      content: "";
      line-height: 0; }
    .globalNavi ul:after {
      clear: both; }
    .globalNavi ul li {
      float: left;
      width: 250px;
      height: 63px;
      margin: 3px 0 0 0;
      border-left: 1px solid #ccc;
      border-right: 1px solid #fff;
      vertical-align: middle;
      text-align: center;
      overflow: hidden; }
      .globalNavi ul li a:hover img {
        opacity: 0.8;
        filter: alpha(opacity=0.8);
        -ms-filter: "alpha( opacity=$alpha )"; }
      .globalNavi ul li:last-child {
        border-right: 1px solid #ccc; }
      .globalNavi ul li a {
        color: #333;
        text-decoration: none;
        padding: 22px 0px;
        display: block;
        font-weight: bold;
        text-align: center; }
        .globalNavi ul li a:hover {
          background-color: rgba(255, 255, 255, 0.8); }

.globalFooter .pageTop {
  border-bottom: 1px solid #ddd;
  margin: 75px 0 15px 0; }
  .globalFooter .pageTop p {
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
    *zoom: 1;
    text-align: right;
    margin-bottom: 15px; }
    .globalFooter .pageTop p:before, .globalFooter .pageTop p:after {
      display: table;
      content: "";
      line-height: 0; }
    .globalFooter .pageTop p:after {
      clear: both; }
    .globalFooter .pageTop p a:hover img {
      opacity: 0.8;
      filter: alpha(opacity=0.8);
      -ms-filter: "alpha( opacity=$alpha )"; }
.globalFooter .footNavi {
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
  margin-bottom: 20px; }
  .globalFooter .footNavi:before, .globalFooter .footNavi:after {
    display: table;
    content: "";
    line-height: 0; }
  .globalFooter .footNavi:after {
    clear: both; }
  .globalFooter .footNavi ul {
    *zoom: 1; }
    .globalFooter .footNavi ul:before, .globalFooter .footNavi ul:after {
      display: table;
      content: "";
      line-height: 0; }
    .globalFooter .footNavi ul:after {
      clear: both; }
    .globalFooter .footNavi ul li {
      float: left;
      background: url("../images/icon/arr01_right.png") no-repeat left center;
      padding-left: 10px;
      font-size: 12px;
      font-size: 1.2rem; }
      .globalFooter .footNavi ul li a {
        color: #333;
        margin-right: 20px; }
.globalFooter .inner {
  padding: 20px 0; }
  .globalFooter .inner .address {
    float: left;
    width: 500px; }
    .globalFooter .inner .address dt {
      font-size: 14px;
      font-size: 1.4rem;
      margin-bottom: 0.2em; }
    .globalFooter .inner .address dd {
      font-size: 12px;
      font-size: 1.2rem;
      margin-bottom: 0.2em; }
  .globalFooter .inner small {
    float: right;
    text-align: right;
    font-size: 10px;
    font-size: 1.0rem; }

.contentsWrap {
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
  margin: 5px auto; }
  .contentsWrap:before, .contentsWrap:after {
    display: table;
    content: "";
    line-height: 0; }
  .contentsWrap:after {
    clear: both; }
  .contentsWrap .mainContents {
    float: right;
    width: 670px; }
    .contentsWrap .mainContents.oneColumn {
      float: none;
      width: 1000px; }
      .contentsWrap .mainContents.oneColumn h1.type-A, .contentsWrap .mainContents.oneColumn h2.type-A, .contentsWrap .mainContents.oneColumn h3.type-A, .contentsWrap .mainContents.oneColumn h4.type-A, .contentsWrap .mainContents.oneColumn h5.type-A, .contentsWrap .mainContents.oneColumn h6.type-A {
        background: url("../images/common/types-a_bg_wide.png") no-repeat left top;
        width: 1000px; }
  .contentsWrap .subContents {
    float: left;
    width: 300px; }
    .contentsWrap .subContents .wrapper {
      background-color: #f8f8f8;
      padding: 10px 5px; }
    .contentsWrap .subContents p.bnr a:hover img {
      opacity: 0.8;
      filter: alpha(opacity=0.8);
      -ms-filter: "alpha( opacity=$alpha )"; }

article.content {
  *zoom: 1;
  padding: 25px 0; }
  article.content:before, article.content:after {
    display: table;
    content: "";
    line-height: 0; }
  article.content:after {
    clear: both; }

body.home .homeVisual {
  width: 100%;
  height: 400px;
  background: url("../images/home/visual01.png") no-repeat center top; }
  body.home .homeVisual span {
    display: none; }
body.home .contentsWrap {
  margin-top: 20px; }

.contactBlock dl {
  *zoom: 1;
  padding: 15px 0;
  border-bottom: 1px dotted #ccc; }
  .contactBlock dl:before, .contactBlock dl:after {
    display: table;
    content: "";
    line-height: 0; }
  .contactBlock dl:after {
    clear: both; }
  .contactBlock dl dt, .contactBlock dl dd {
    line-height: 1;
    margin-bottom: 0; }
  .contactBlock dl dt {
    float: left;
    width: 200px;
    padding: 5px 0 5px 10px;
    line-height: 1;
    border-left: 2px solid #328bda; }
  .contactBlock dl dd {
    float: right;
    width: 420px; }
    .contactBlock dl dd input,
    .contactBlock dl dd textarea {
      width: 100%; }
.contactBlock .btns {
  text-align: center;
  margin: 25px; }

select option {
  padding-right: 15px; }

* html select option {
  padding-right: 0;
  _padding-right: 15px; }

label {
  cursor: pointer; }

fieldset {
  border: none; }

input {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8px 5px; }
  input.err {
    border: 3px solid #00bbcc !important; }

textarea.textarea {
  width: 100%;
  height: 80px;
  padding: 8px 5px; }

.button {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-box-sizing: border-box;
  box-sizing: border-box;
  white-space: nowrap;
  text-decoration: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  color: #fff;
  padding: 10px 10px;
  cursor: pointer;
  width: 150px; }
  .button:hover {
    color: #fff; }
    .button:hover a:hover img {
      opacity: 0.8;
      filter: alpha(opacity=0.8);
      -ms-filter: "alpha( opacity=$alpha )"; }
  .button.type01 {
    background-color: #e5007f; }
  .button.type02 {
    background-color: #ef9d27; }

a.button {
  line-height: 1;
  text-align: center;
  display: block;
  margin: auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-box-sizing: border-box;
  box-sizing: border-box; }

.block {
  margin-bottom: 35px; }

article.page .content {
  *zoom: 1; }
  article.page .content:before, article.page .content:after {
    display: table;
    content: "";
    line-height: 0; }
  article.page .content:after {
    clear: both; }
article.page .plan {
  *zoom: 1;
  margin-bottom: 1em; }
  article.page .plan:before, article.page .plan:after {
    display: table;
    content: "";
    line-height: 0; }
  article.page .plan:after {
    clear: both; }
  article.page .plan .left {
    width: 320px;
    float: left; }
  article.page .plan .right {
    float: right;
    width: 320px; }
  article.page .plan dl {
    *zoom: 1;
    border-bottom: 1px dotted #ccc;
    margin-bottom: 0 !important;
    padding: 7px 0; }
    article.page .plan dl:before, article.page .plan dl:after {
      display: table;
      content: "";
      line-height: 0; }
    article.page .plan dl:after {
      clear: both; }
    article.page .plan dl dt {
      border-left: 3px solid #328bda;
      padding-left: 8px;
      float: left;
      width: 110px;
      font-size: 12px;
      font-size: 1.2rem; }
    article.page .plan dl dd {
      float: left;
      margin-bottom: 0;
      width: 200px; }
      article.page .plan dl dd em {
        color: #f92c1c; }

article.entry {
  margin: 0px 0; }
  article.entry .entryInfo {
    *zoom: 1;
    margin: 10px 0; }
    article.entry .entryInfo:before, article.entry .entryInfo:after {
      display: table;
      content: "";
      line-height: 0; }
    article.entry .entryInfo:after {
      clear: both; }
    article.entry .entryInfo .categories {
      float: left; }
      article.entry .entryInfo .categories ul {
        *zoom: 1; }
        article.entry .entryInfo .categories ul:before, article.entry .entryInfo .categories ul:after {
          display: table;
          content: "";
          line-height: 0; }
        article.entry .entryInfo .categories ul:after {
          clear: both; }
        article.entry .entryInfo .categories ul li {
          float: left;
          background-color: #53c2c5;
          padding: 5px 15px;
          color: #fff;
          margin-right: 10px; }
          article.entry .entryInfo .categories ul li a {
            color: #fff;
            text-decoration: none; }
            article.entry .entryInfo .categories ul li a:hover {
              text-decoration: underline; }
    article.entry .entryInfo time {
      float: left;
      font-size: 14px;
      font-size: 1.4rem;
      padding: 5px 10px; }
    article.entry .entryInfo .weather {
      float: left;
      font-size: 14px;
      font-size: 1.4rem;
      padding: 5px 10px;
      margin-right: 10px;
      font-weight: bold;
      color: #328bda;
      border: 2px dotted #c6daf7; }
  article.entry .content {
    margin-bottom: 30px; }
    article.entry .content h1:first-child, article.entry .content h2:first-child, article.entry .content h3:first-child, article.entry .content h4:first-child {
      margin-top: 0; }
    article.entry .content h1 {
      border-left: 5px solid #328bda;
      font-size: 18px;
      font-size: 1.8rem;
      padding: 5px 0 5px 15px;
      margin-top: 2em;
      margin-bottom: 1em; }
    article.entry .content h2 {
      border-left: 2px solid #328bda;
      border-bottom: 1px dotted #ccc;
      font-size: 16px;
      font-size: 1.6rem;
      padding: 3px 0 3px 18px;
      margin-top: 2em;
      margin-bottom: 1em; }
    article.entry .content h3 {
      color: #328bda;
      font-size: 14px;
      font-size: 1.4rem;
      margin-bottom: 1em;
      margin-top: 2em; }
    article.entry .content ul li {
      background: url("../images/icon/circle01.png") no-repeat left 8px;
      padding: 5px 0 5px 20px;
      margin-bottom: 0.3em !important; }
  article.entry .authorBlock {
    *zoom: 1;
    border: 3px solid #c8dff4; }
    article.entry .authorBlock:before, article.entry .authorBlock:after {
      display: table;
      content: "";
      line-height: 0; }
    article.entry .authorBlock:after {
      clear: both; }
    article.entry .authorBlock figure {
      float: left;
      width: 90px;
      margin: 10px 20px; }
      article.entry .authorBlock figure img {
        display: block; }
    article.entry .authorBlock .text {
      float: right;
      width: 510px;
      margin: 20px 20px 10px 0px; }
  article.entry .postNavi {
    border-top: 1px dotted #ccc;
    padding-top: 25px;
    *zoom: 1; }
    article.entry .postNavi:before, article.entry .postNavi:after {
      display: table;
      content: "";
      line-height: 0; }
    article.entry .postNavi:after {
      clear: both; }
    article.entry .postNavi span {
      font-size: 14px;
      font-size: 1.4rem;
      width: 300px; }
      article.entry .postNavi span.prev {
        float: left;
        padding-left: 10px;
        background: url("../images/icon/arr01_left.png") no-repeat left 0.5em; }
      article.entry .postNavi span.next {
        float: right;
        padding-right: 10px;
        background: url("../images/icon/arr01_right.png") no-repeat right 0.5em;
        text-align: right; }

.subContents .recentEntries,
.subContents .recentCategories,
.subContents .recentArchives {
  margin-bottom: 30px; }
  .subContents .recentEntries:last-child,
  .subContents .recentCategories:last-child,
  .subContents .recentArchives:last-child {
    margin-bottom: 0; }
.subContents .entries {
  background: url("../images/common/subcontents_bg01.png") repeat-y left top;
  border-bottom: 1px solid #ccc; }
  .subContents .entries .entry {
    *zoom: 1;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #ccc; }
    .subContents .entries .entry:before, .subContents .entries .entry:after {
      display: table;
      content: "";
      line-height: 0; }
    .subContents .entries .entry:after {
      clear: both; }
    .subContents .entries .entry:last-child {
      border-bottom: none; }
    .subContents .entries .entry:hover {
      background-color: #f8fcff; }
    .subContents .entries .entry a {
      display: table;
      width: 100%;
      text-decoration: none; }
      .subContents .entries .entry a .text {
        display: table-cell;
        vertical-align: middle;
        padding-right: 10px;
        padding-left: 10px;
        color: #333; }
        .subContents .entries .entry a .text time {
          font-size: 12px;
          font-size: 1.2rem;
          color: #333; }
        .subContents .entries .entry a .text .title {
          font-size: 14px;
          font-size: 1.4rem;
          color: #333; }
      .subContents .entries .entry a figure {
        display: table-cell;
        vertical-align: middle;
        width: 50px;
        padding-left: 10px; }
        .subContents .entries .entry a figure img {
          display: block; }
      .subContents .entries .entry a:hover .title {
        text-decoration: underline; }
      .subContents .entries .entry a:hover figure img {
        opacity: 0.8;
        filter: alpha(opacity=0.8);
        -ms-filter: "alpha( opacity=$alpha )"; }
.subContents .categories,
.subContents .archives {
  background: url("../images/common/subcontents_bg01.png") repeat-y left top;
  border-bottom: 1px solid #ccc; }
  .subContents .categories li,
  .subContents .archives li {
    background: url("../images/icon/arr01_right.png") no-repeat 13px center;
    border-bottom: 1px dotted #ccc;
    margin-bottom: 0 !important;
    padding: 20px 10px 20px 30px; }
    .subContents .categories li:last-child,
    .subContents .archives li:last-child {
      border-bottom: none; }
    .subContents .categories li:hover,
    .subContents .archives li:hover {
      background-color: #f8fcff; }
    .subContents .categories li a,
    .subContents .archives li a {
      color: #328bda; }
.subContents .socialBanners {
  margin-top: 20px; }
  .subContents .socialBanners .banners ul li {
    margin-bottom: 10px; }
    .subContents .socialBanners .banners ul li a:hover img {
      opacity: 0.8;
      filter: alpha(opacity=0.8);
      -ms-filter: "alpha( opacity=$alpha )"; }
    .subContents .socialBanners .banners ul li img {
      display: block; }

.newsBlock h1 {
  margin-bottom: 0; }
.newsBlock .news {
  border-bottom: 1px dotted #ccc;
  padding: 25px 0;
  *zoom: 1; }
  .newsBlock .news:before, .newsBlock .news:after {
    display: table;
    content: "";
    line-height: 0; }
  .newsBlock .news:after {
    clear: both; }
  .newsBlock .news .text {
    float: right;
    width: 460px; }
    .newsBlock .news .text .entryInfo {
      *zoom: 1;
      margin: 10px 0 0; }
      .newsBlock .news .text .entryInfo:before, .newsBlock .news .text .entryInfo:after {
        display: table;
        content: "";
        line-height: 0; }
      .newsBlock .news .text .entryInfo:after {
        clear: both; }
      .newsBlock .news .text .entryInfo .categories {
        float: left; }
        .newsBlock .news .text .entryInfo .categories ul {
          *zoom: 1; }
          .newsBlock .news .text .entryInfo .categories ul:before, .newsBlock .news .text .entryInfo .categories ul:after {
            display: table;
            content: "";
            line-height: 0; }
          .newsBlock .news .text .entryInfo .categories ul:after {
            clear: both; }
          .newsBlock .news .text .entryInfo .categories ul li {
            float: left;
            background-color: #53c2c5;
            padding: 5px 15px;
            color: #fff;
            margin-right: 10px; }
            .newsBlock .news .text .entryInfo .categories ul li a {
              color: #fff;
              text-decoration: none; }
              .newsBlock .news .text .entryInfo .categories ul li a:hover {
                text-decoration: underline; }
      .newsBlock .news .text .entryInfo time {
        float: left;
        font-size: 14px;
        font-size: 1.4rem;
        padding: 5px 10px;
        margin-right: 10px; }
      .newsBlock .news .text .entryInfo figure.author {
        *zoom: 1;
        float: none;
        width: auto; }
        .newsBlock .news .text .entryInfo figure.author:before, .newsBlock .news .text .entryInfo figure.author:after {
          display: table;
          content: "";
          line-height: 0; }
        .newsBlock .news .text .entryInfo figure.author:after {
          clear: both; }
        .newsBlock .news .text .entryInfo figure.author img {
          margin-right: 5px;
          vertical-align: middle;
          display: inline; }
        .newsBlock .news .text .entryInfo figure.author figcaption {
          display: inline;
          font-weight: bold;
          font-size: 12px;
          font-size: 1.2rem; }
    .newsBlock .news .text h1 {
      font-size: 18px;
      font-size: 1.8rem;
      margin-bottom: 10px; }
      .newsBlock .news .text h1 a {
        color: #333; }
        .newsBlock .news .text h1 a:hover {
          text-decoration: none; }
    .newsBlock .news .text p {
      display: inline; }
      .newsBlock .news .text p a {
        color: #328bda; }
  .newsBlock .news figure {
    float: left;
    width: 180px; }
    .newsBlock .news figure a:hover img {
      opacity: 0.8;
      filter: alpha(opacity=0.8);
      -ms-filter: "alpha( opacity=$alpha )"; }

.aboutBlock {
  margin-bottom: 30px; }
  .aboutBlock .banners {
    width: 670px; }
    .aboutBlock .banners ul {
      *zoom: 1;
      width: 700px;
      margin-right: -30px;
      overflow: hidden; }
      .aboutBlock .banners ul:before, .aboutBlock .banners ul:after {
        display: table;
        content: "";
        line-height: 0; }
      .aboutBlock .banners ul:after {
        clear: both; }
      .aboutBlock .banners ul li {
        float: left;
        width: 320px;
        margin-right: 30px; }
        .aboutBlock .banners ul li a:hover img {
          opacity: 0.8;
          filter: alpha(opacity=0.8);
          -ms-filter: "alpha( opacity=$alpha )"; }

.planBlock h1.type-B {
  margin-bottom: 0; }
.planBlock .plans .plan {
  *zoom: 1;
  border-bottom: 1px dotted #ccc;
  padding: 25px 0; }
  .planBlock .plans .plan:before, .planBlock .plans .plan:after {
    display: table;
    content: "";
    line-height: 0; }
  .planBlock .plans .plan:after {
    clear: both; }
  .planBlock .plans .plan:hover {
    background-color: #f8fcff; }
  .planBlock .plans .plan a {
    color: #333; }
    .planBlock .plans .plan a .text {
      float: right;
      width: 540px; }
      .planBlock .plans .plan a .text .price {
        color: #f92c1c;
        margin-bottom: 0.5em; }
      .planBlock .plans .plan a .text .summary {
        color: #666;
        font-size: 12px;
        font-size: 1.2rem; }
    .planBlock .plans .plan a figure {
      float: left;
      width: 100px; }
      .planBlock .plans .plan a figure img {
        display: block; }
    .planBlock .plans .plan a:hover .name {
      text-decoration: underline; }
    .planBlock .plans .plan a:hover figure img {
      opacity: 0.8;
      filter: alpha(opacity=0.8);
      -ms-filter: "alpha( opacity=$alpha )"; }

.breadcrumbs {
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
  padding: 0;
  margin-bottom: 5px !important;
  *zoom: 1;
  color: #999; }
  .breadcrumbs:before, .breadcrumbs:after {
    display: table;
    content: "";
    line-height: 0; }
  .breadcrumbs:after {
    clear: both; }
  .breadcrumbs:before, .breadcrumbs:after {
    display: table;
    content: "";
    line-height: 0; }
  .breadcrumbs:after {
    clear: both; }
  .breadcrumbs span {
    font-size: 12px;
    font-size: 1.2rem;
    color: #999;
    margin-right: 5px;
    margin-left: 5px;
    line-height: 1; }
    .breadcrumbs span:first-child {
      margin-left: 0; }
    .breadcrumbs span:last-child {
      background: none; }
    .breadcrumbs span a {
      color: #999; }

.islands {
  *zoom: 1;
  margin: 50px 0; }
  .islands:before, .islands:after {
    display: table;
    content: "";
    line-height: 0; }
  .islands:after {
    clear: both; }
  .islands .island {
    text-align: center;
    float: left;
    width: 400px;
    margin-bottom: 50px; }
    .islands .island h2 {
      margin-bottom: 25px; }

.wp-pagenavi {
  margin-top: 25px; }

section.comments {
  margin: 35px 0;
  padding-top: 35px;
  border-top: 1px dotted #ddd; }
  section.comments #respond {
    margin-bottom: 35px; }
    section.comments #respond #reply-title {
      color: #999;
      font-size: 14px;
      font-size: 1.4rem;
      margin-bottom: 10px; }
    section.comments #respond #commentform {
      text-align: center; }
      section.comments #respond #commentform .comment-notes {
        font-size: 12px;
        font-size: 1.2rem;
        text-align: left; }
      section.comments #respond #commentform .logged-in-as {
        text-align: left; }
        section.comments #respond #commentform .logged-in-as a {
          color: #333; }
      section.comments #respond #commentform .comment-form-author,
      section.comments #respond #commentform .comment-form-email,
      section.comments #respond #commentform .comment-form-url,
      section.comments #respond #commentform .comment-form-url,
      section.comments #respond #commentform .comment-form-comment {
        *zoom: 1;
        text-align: left; }
        section.comments #respond #commentform .comment-form-author:before, section.comments #respond #commentform .comment-form-author:after,
        section.comments #respond #commentform .comment-form-email:before,
        section.comments #respond #commentform .comment-form-email:after,
        section.comments #respond #commentform .comment-form-url:before,
        section.comments #respond #commentform .comment-form-url:after,
        section.comments #respond #commentform .comment-form-url:before,
        section.comments #respond #commentform .comment-form-url:after,
        section.comments #respond #commentform .comment-form-comment:before,
        section.comments #respond #commentform .comment-form-comment:after {
          display: table;
          content: "";
          line-height: 0; }
        section.comments #respond #commentform .comment-form-author:after,
        section.comments #respond #commentform .comment-form-email:after,
        section.comments #respond #commentform .comment-form-url:after,
        section.comments #respond #commentform .comment-form-url:after,
        section.comments #respond #commentform .comment-form-comment:after {
          clear: both; }
        section.comments #respond #commentform .comment-form-author label,
        section.comments #respond #commentform .comment-form-email label,
        section.comments #respond #commentform .comment-form-url label,
        section.comments #respond #commentform .comment-form-url label,
        section.comments #respond #commentform .comment-form-comment label {
          font-size: 14px;
          font-size: 1.4rem;
          width: 150px;
          display: block;
          float: left; }
        section.comments #respond #commentform .comment-form-author #author,
        section.comments #respond #commentform .comment-form-author #email,
        section.comments #respond #commentform .comment-form-author #url,
        section.comments #respond #commentform .comment-form-author #comment,
        section.comments #respond #commentform .comment-form-email #author,
        section.comments #respond #commentform .comment-form-email #email,
        section.comments #respond #commentform .comment-form-email #url,
        section.comments #respond #commentform .comment-form-email #comment,
        section.comments #respond #commentform .comment-form-url #author,
        section.comments #respond #commentform .comment-form-url #email,
        section.comments #respond #commentform .comment-form-url #url,
        section.comments #respond #commentform .comment-form-url #comment,
        section.comments #respond #commentform .comment-form-url #author,
        section.comments #respond #commentform .comment-form-url #email,
        section.comments #respond #commentform .comment-form-url #url,
        section.comments #respond #commentform .comment-form-url #comment,
        section.comments #respond #commentform .comment-form-comment #author,
        section.comments #respond #commentform .comment-form-comment #email,
        section.comments #respond #commentform .comment-form-comment #url,
        section.comments #respond #commentform .comment-form-comment #comment {
          width: 480px;
          float: right; }
      section.comments #respond #commentform .form-allowed-tags {
        font-size: 10px;
        font-size: 1.0rem;
        color: #666;
        text-align: left; }
        section.comments #respond #commentform .form-allowed-tags code {
          display: block; }
      section.comments #respond #commentform #submit {
        text-align: center;
        margin: auto; }
  section.comments .commentlist li {
    margin: 25px 0;
    padding-top: 25px;
    border-top: 1px dotted #ccc; }
    section.comments .commentlist li .comment-body a {
      color: #333; }
    section.comments .commentlist li .comment-body .comment-author img {
      vertical-align: middle;
      margin-right: 10px; }
    section.comments .commentlist li .comment-body .comment-author cite {
      font-weight: bold; }
      section.comments .commentlist li .comment-body .comment-author cite a {
        font-weight: bold; }
    section.comments .commentlist li .comment-body .comment-meta {
      text-align: right; }
      section.comments .commentlist li .comment-body .comment-meta a {
        color: #666;
        font-size: 12px;
        font-size: 1.2rem;
        text-decoration: none; }
        section.comments .commentlist li .comment-body .comment-meta a:hover {
          text-decoration: underline; }
    section.comments .commentlist li .comment-body .reply {
      line-height: 1;
      margin-top: 10px; }
      section.comments .commentlist li .comment-body .reply a {
        border: 1px solid #eee;
        padding: 3px 10px; }
  section.comments .commentlist ul.children {
    margin-left: 10px;
    padding-left: 15px;
    border-left: 1px solid #eee;
    background-color: #FFF; }
    section.comments .commentlist ul.children li {
      border-top: none; }
  section.comments .page-numbers {
    font-size: 14px;
    font-size: 1.4rem; }

body.search .highlight {
  font-weight: bold;
  color: #f79531; }

/**
 * WordpressのネイティブCSS
 * http://codex.wordpress.org/CSS
 */
.alignnone {
  margin: 5px 20px 20px 0; }

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto; }

.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
  text-align: center; }

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

a img.alignnone {
  margin: 5px 20px 20px 0; }

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  padding: 5px 3px 10px;
  text-align: center; }

.wp-caption.alignnone {
  margin: 5px 20px 20px 0; }

.wp-caption.alignleft {
  margin: 5px 20px 20px 0; }

.wp-caption.alignright {
  margin: 5px 0 20px 20px; }

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto; }

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px; }
