input {
    cursor: pointer;
}
select {
    cursor: pointer;
}
.form {
    display: flex;
    justify-content: space-around;
    &-drop {
        height: 160px;
        width: 100%;
        display: block;
        line-height: 160px;
        position: relative;
        background-color: #ccc;
        color: #ffffff;
        text-align: center;
    }
    &-file {
        opacity: 0;
        z-index: 2;
        height: 160px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
}
