h1 {
  border-left: 5px solid #328bda;
  font-size: 18px;
  font-size: 1.8rem;
  padding: 5px 0 5px 15px;
}
h2 {
  border-left: 2px solid #328bda;
  border-bottom: 1px dotted #ccc;
  font-size: 16px;
  font-size: 1.6rem;
  padding: 3px 0 3px 18px;
}
h3 {
  color: #328bda;
  font-size: 14px;
  font-size: 1.4rem;
}
.color-blue{
 color: #328bda;
 font-weight: bold; 
}
.color-red{
 color: #ff1a1a;
 font-weight: bold; 
}
